@use "_var.scss" as var;


.hero {

    background-image: linear-gradient(var.$gray-d-trans, var.$red-d-trans), url(../img/herobg.jpg);

    background-size: cover;

    .textdiv {

        display: flex;
    
        padding:5%;
    
        align-items: center;
    
        height: 60vh;
    
        h1 {
        
            color: var.$gold;
            
            font-family: var.$Rubik, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
            font-weight: 500; /* always specify weight 300-500 with rubik because otherwise it breaks and looks Bad */
    
            font-size: 3rem;
    
            mix-blend-mode: color-dodge;
    
        }
    
    }
    
    


}
