@use "_var.scss" as var;
@use "sass:color" as clr;


nav {

    padding: 10px 0 10px 0;

    background-color: clr.adjust($color: var.$gray-l, $lightness: -55%);

    a {

        padding: 5%;

        font-family: var.$Rationale,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        font-size: 1.5rem;

        color: var.$gray-l;


    }

    a:hover {

        color: var.$gold;
    
    }
   

}

