<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
</head>
<body>

    <header> 

        {% include "./navbar.html" %}

        {% if title == "Starline Home"%}

            {% include "./hero.html" %}

        {% endif %}

    </header>

    <div class="content">

        {{ content | safe }}

    </div>  

</body>
</html>